[Desktop Entry]
Encoding=UTF-8
Name=Ncftp
Comment=NcFTP - a text mode FTP client
Comment[de]=NcFTP - ein Textmodus FTP-Client
Comment[es]=NcFTP - cliente ftp modo texto
Comment[pl]=NcFTP - tekstowy klient FTP
Comment[pt]=NcFTP - cliente FTP modo texto
Comment[pt_BR]=NcFTP - cliente FTP modo texto
Exec=ncftp
Icon=ncftp.png
Terminal=true
Type=Application
# vi: encoding=utf-8
